/*@media screen and (min-width: 1500px) {
  .container {
    width: 1400px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1500px) {
  .container {
    width: 1100px;
  }
}
@media screen and (min-width: 850px) and (max-width: 1200px) {
  .container {
    width: 750px;
  }
}
@media screen and (min-width: 600px) and (max-width: 850px) {
  .container {
    width: 500px;
  }
}
@media screen and (min-width: 400px) and (max-width: 600px) {
  .container {
    width: 350px;
  }
}
@media screen and (max-width: 400px) {
  .container {
    width: 300px;
  }
}*/

@media screen and (min-width: 500px) {
  .container {
    width: 1100px;
    height: 2300px;
  }
}
@media screen and (max-width: 500px) {
  .container {
    width: 300px;
    height: 3200px;
  }
}


.container {
  background-color: rgb(211, 239, 255);
  position: relative;
  /*width: 1100px;  /* TEMPORARY */
  left: 50%;
  transform: translate(-50%, 0);
}

.box {
  position: absolute;
  cursor: pointer;
  text-align: center;
  border-radius: 50%;
}

.rank {
  position: absolute;
  left: 50%;
  top: 10%;
  transform: translate(-50%, -50%);
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
}

.rankBig {
  position: absolute;
  left: 12%;
  top: 12%;
  transition: opacity .3s linear;
  -webkit-transition: opacity .3s linear;
  -moz-transition: opacity .3s linear;
  -ms-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
}

.trackText {
  position: absolute;
  width: 120%;
  left: 50%;
  top: 73%;
  transform: translate(-50%, -50%);
  transition: opacity .3s linear;
  -webkit-transition: opacity .3s linear;
  -moz-transition: opacity .3s linear;
  -ms-transition: opacity .3s linear;
  -o-transition: opacity .3s linear;
}

.trackImage {
  height: auto;
  border-radius: 4%;
  z-index: 100;
}

.trackTitle {
  font-weight: 500;
}
.trackArtist {
  font-weight: 300;
}

.extraText {
  margin: 5%;
}