.inBetweenText {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
  color: #000000;
}

.loginPos {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -25vh);
}

.loginColor {
  background-color: #ffcb37;
  border-radius: 20px;
}



