.inBetweenText {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 5vw;
  margin-right: 5vw;
  color: #000000;
}

.loginPos {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -25vh);
}

.loginButton {
  cursor: pointer;
  font-size: 20px;
  padding: 5px 25px;
  box-shadow: 0 0 5px #000000;
  border-radius: 20px;
  background-color: #ffcb37;
  transition: all 0.12s linear;
}
.loginButton:hover {
  transform: scale(1.08);
}



